@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "oliver";
  src: url("/font/oliver.ttf") format("truetype"),
    url("/font/oliver.otf") format("opentype"),
    url("/font/oliver.woff2") format("woff2"),
    url("/font/oliver.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: #ffdd49 #fff;
  scrollbar-width: thin;
}

body {
  @apply relative overflow-x-hidden md:bg-off-white;
}

h1 {
  @apply mb-2 text-4xl font-bold text-theme-r;
}

h2 {
  @apply mb-2 text-2xl font-bold text-theme-r active:text-black;
}

h3 {
  @apply mb-2 text-xl font-bold text-theme-r;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

.border-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #edcd44, #82cad6);
}

.break {
  @apply h-0 basis-full;
}

.button {
  @apply rounded-full bg-theme-y px-5 py-2 text-black hover:text-theme-r active:text-black;
}

.gradient-hr {
  @apply col-span-12 mx-auto h-1 bg-gradient-to-r from-theme-y via-theme-b to-theme-y;
}

.pill {
  @apply inline-block transform rounded-full bg-theme-b/10 p-2 text-base text-black hover:scale-105 hover:shadow-inner hover:shadow-blue-700/10 active:text-theme-r;
}

.post-tags {
  @apply mr-4 mt-2 inline-block;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
@media (min-width: 2160px) {
  .container {
    max-width: 2160px;
  }
}
