@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary bg-cover bg-left-top font-nunito;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

h1 {
  @apply mb-2 text-4xl font-bold text-accent2;
}

h2 {
  @apply mb-2 text-2xl font-bold text-accent3 active:text-secondary;
}

h3 {
  @apply mb-2 text-xl font-bold text-accent3;
}

input,
textarea {
  @apply resize-none border-4 border-secondary/50 p-2;
}

input:focus,
textarea:focus {
  outline: none;
}

.absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

.border-gradient {
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #d5cae4, #e59462);
}

.break {
  @apply h-0 basis-full;
}

.button {
  @apply rounded-full bg-accent3 px-5 py-2 text-white hover:shadow-inner hover:shadow-orange-800/40 active:bg-white active:text-accent3;
}

.gradient-hr {
  @apply col-span-12 mx-auto h-1 bg-gradient-to-r from-accent3 via-secondary to-accent3;
}

.navbar-item {
  @apply text-accent2 active:text-accent3 md:mr-4;
}

.pill {
  @apply inline-block transform rounded-full bg-secondary/10 p-2 text-xs text-accent2 hover:scale-105 hover:shadow-inner hover:shadow-purple-700/10 active:text-accent3;
}

.post-tags {
  @apply mr-4 mt-2 inline-block;
}

.scrollbar {
  scrollbar-color: #dfdce4 #fff;
  scrollbar-width: thin;
}
